{% extends "base.html" %}

{% block title %}{{ super() }}{{ user.username }}-HUSTRunner{% endblock %}

{% block page_content %}
<div class="main-content col-md-8">
    <div class="profile-card">
        <div class="profile-main">
            <div class="top">
                <span class="name">{{ user.username }}</span>
                {% if current_user.is_authenticated %}
                {% if current_user.id != user.id %}
                {% if current_user.is_following(user) %}
                <button class="btn btn-default btn-unfollow toggle-follow" data-id="{{ user.id }}">取消关注</button>
                {% else %}
                <button class="btn btn-default btn-follow toggle-follow" data-id="{{ user.id }}">关注</button>
                {% endif %}
                {% endif %}
                {% endif %}
                <!--{% if user.title %}-->
                <!--<span class="label label-info">{{ user.title }}</span>-->
                <!--{% endif %}-->
            </div>
            <div class="avatar-editor clearfix">
                {% if current_user.id == user.id %}
                <form id="avatar_form" action="/avatar" enctype="multipart/form-data" style="display:none;" method="POST" target="avatar_iframe">
                    <input id="avatar_input" name="picture" type="file" class="file" accept="image/*">
                </form>
                {% endif %}
                <img src="{{ user.avatar }}" class="avatar" data-toggle="tooltip" data-placement="bottom" title="更换头像">
                <iframe id='avatar_iframe' name="avatar_iframe" style="display: none;"></iframe>
                <div class="user-describe">
                    <div class="short-info">
                    {% if user.school %}{<span>{ user.school }}</span>{% endif %}
                    {% if user.gender %}
                        {% if user.gender == '男' %}
                        <i class="fa fa-mars" aria-hidden="true"></i>
                        {% else %}
                        <i class="fa fa-venus" aria-hidden="true"></i>
                        {% endif %}
                    {% endif %}
                    {% if user.signature %}<span>{{ user.signature }}</span>{% endif %}
                    </div>
                    <div class="description">
                    {% if user.about_me %}<span>{{ user.about_me }}</span>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        <ul class="profile-navbar nav nav-tabs">
            <li><a href="{{ url_for('user.profile', username=user.username) }}"><i class="fa fa-home"></i></a></li>
            <li><a href="{{ url_for('user.posts', username=user.username) }}">文章</a></li>
            <li><a href="{{ url_for('user.comments', username=user.username) }}">回复</a></li>
            <li><a href="{{ url_for('user.activities', username=user.username) }}">活动</a></li>
        </ul>
    </div>    
    {% block left_bottom %}{% endblock %}
</div>
<div class="sidebar col-md-4">
    <div class="follow-info">
        <a href="{{ url_for('user.followees', username=user.username) }}">
            <span>关注了</span>
            <br>
            <strong>{{ user.followed.count() }}</strong>
            <label>人</label>
        </a>
        <a href="{{ url_for('user.followers', username=user.username ) }}">
            <span>关注者</span>
            <br>
            <strong>{{ user.followers.count() }}</strong>
            <label>人</label>
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('.avatar').click(function(click){
            $('#avatar_input').click();
        });

        $('input[type=file]').on('change', function(event){
            $('#avatar_form').submit();
        });

        $('#avatar_form').on('submit',(function(e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                type:'POST',
                url: $(this).attr('action'),
                data:formData,
                cache:false,
                contentType: false,
                processData: false,
                success:function(response){
                    $('.avatar, .navbar-avatar').attr('src', response.src);
                },
            });
        }));

    })
</script>
{% endblock %}