{% extends "user/_profile.html" %}

{% block left_bottom %}
<div class="profile-card">
<div class="section-head">
    <h4>最新动态</h4>
</div>
<div class="profile-main">
    <ul class="item-wrap">
        {% for activity in activities %}
        <li>
            <span class="time">{{ moment(activity.date_created).format("YYYY年MM月DD日 HH:mm") }}</span>
            {% if activity.title %}
            <a href="{{ url_for('forum.view_post', slug=activity.slug) }}">{{ activity.title }}</a>
            {% else %}
            <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
            <a href="{{ url_for('forum.view_post', slug=activity.post.slug) }}#{{ activity.id }}comment"><span>{{ activity.content_html[3:-4]|safe|truncate(50) }}</span></a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
