{% extends "base.html" %}

{% block title %}HUSTRunner-{{ user.username }}{% endblock %}

{% block page_content %}
<div class="main-content col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="top">
                <span class="name">{{ user.username }}</span>
            </div>
            <div class="profile-body">
                <div class="avatar-editor col-md-2">
                    <img src="{{ url_for('static', filename='profile.jpg') }}" class="avatar">
                </div>
                <div class="user-describe">
                    {% if user.school %}{<span>{ user.school }}</span>{% endif %}
                    <span>{{ user.gender }}</span>
                    <span>{{ user.signature }}</span>
                </div>
            </div>
        </div>
    </div>
    {% block left_bottom %}{% endblock %}
</div>
<div class="sidebar col-md-4">
    <div class="follow-info">
        <a href="{{ url_for('user.followees', username=user.username) }}">
            <span>关注了</span>
            <br>
            <strong>{{ user.followed.count() }}</strong>
            <label>人</label>
        </a>
        <a href="{{ url_for('user.followers', username=user.username ) }}">
            <span>关注者</span>
            <br>
            <strong>{{ user.followers.count() }}</strong>
            <label>人</label>
        </a>
    </div>

</div>
{% endblock %}