{% extends "_settings.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }}帐号和密码设置-HUSTRunner{% endblock %}

{% block page_content %}
{{ super() }}
<!--TODO: use modal to show form-->
<div class="settings-sections">
    <div class="settings-item">
        <span class="title">邮箱</span>
        <div class="settings-content">
            <span>{{ user.email }}</span>
            <a href="{{ url_for('auth.change_email_request') }}">修改</a>
        </div>
    </div>
    <div class="settings-item">
        <span class="title">帐号密码</span>
        <div class="settings-content">
            <a href="{{ url_for('auth.change_password') }}">修改密码</a>
        </div>
    </div>
</div>
{% endblock %}
