a{
	cursor:pointer;
	outline: none;
}
a:link{
	color:#37a;
}
.article img{
    max-width: 600px;
    max-height: 600px;
    display: block !important;
}
.face{
    position: absolute;
    border: 2px solid white;
}
/*a:hover{
	color:#fff;
	text-decoration:none;
	background:#37a}
a:active{
	color:#fff;
	text-decoration:none;
	outline: none;
	background:#f93}*/
.modal-dialog{
    margin-top: 100px;
}
ul{
    list-style:none;
    padding-left: 0;
}
.fa{
    margin-right:5px;
}
.brief{
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.header .label{
    vertical-align: middle;
    font-size: 12px;
    margin-right: 10px;
}
.brief-title{
    vertical-align: middle;
    font-size: 15px;
}
.badge{
    border-radius: 16px;
    border: 1px solid #b11331;
    position: absolute;
    min-width: 8px;
    font-size: 11px;
    font-weight: 700;
    background-color: #bf1031;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
    line-height: 16px;
    padding: 0 5px;
    text-align: center;
}
.plain-noti{
    top: 8px;
    left: 32px;
}
.noti-content{
    border-bottom: 1px solid #eee;
    padding: 7px 11px
}
a.notify-button {
    text-align: center;
}
.popover-footer {
    vertical-align: middle;
}
.popover-footer-all {
    float: right;
    color: #999;
    font-size: 13px;
    padding: 6px 12px;
}
.dropdown-toggle .badge{
    left: 30px;
    top: 8px;
    z-index: 12;
}
.dropdown-menu .badge{
    margin-left: 12px;
}
/*navbar*/
.navbar-default{
    background-color: #BADA55;
}
.navbar-brand{
    color: #505B1E !important;
}
.top-nav-link{
	height: 55px;
    color: #505B1E !important;
}
a.top-nav-link:hover, .active>a.top-nav-link{
    background-color: #A3C43B !important;
}
a.dropdown-toggle:hover{
    background-color: #A3C43B !important;
}
.dropdown-menu{
    background-color: #BADA55;
    left: 0 !important;
    text-align: center;
    min-width: 50px;
}
.dropdown-menu li a:hover, .dropdown-menu li.active a{
    background-color: #A3C43B !important;
}
.navbar-right a{
    color: #505B1E !important;
}
.container{
	max-width: 990px;
}
.navbar-avatar{
    width:27px;
    height:27px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color:transparent;
    color:#777;
}
/*
.navbar-nav  li .dropdown-menu {}
.navbar-nav .active .dropdown-menu li a{
    color:#428bca;
}
*/
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
 }
.tab-content{
    overflow-y: auto;
    max-height: 200px;
 }
 .popover{
    width: 315px;
 }
 /*body*/
 #main {
    overflow: hidden;
 }
 .topic-tab .on{
    color:#372;
 }
/*post*/
.post-info li {
	display: inline;
	padding-right: 10px;
}
/*index*/
h4 a:visited{
    color:#669;
}
.info{
    font-size: 12px;
    color:#072;
    overflow: hidden;
}
.info span{
    line-height: 28px;
}
.info span+span{
    float: right;
}
.initiator{
    float: left;
}
.activity-content{
    margin-top: 10px;
}
.initiator a{
    margin-left: 5px;
}
.user-wrap{
    border: 1px solid #eee; 
}
.user-wrap .user-face{
    margin-top: 5px;
}
.btn:focus{
    outline: none;
}
.count{
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}
.count span{
    color: #072;
    font-weight:700;
}
/*article*/
.article{
	max-width: 800px;
	margin-top: 30px;
    padding-bottom: 10px; 
}
.article-main{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.from{
	color:#666666;
}
.from span.label{
    margin-left: 10px; 
}
.color-green{
	color:#072;
    margin-left: 14px;
}
.operation {
    visibility: hidden;
    float:right;
}

@media screen and (max-width: 600px) {
  .operation {
    visibility: visible;
  }
}
.operation a, .comment-actions a{
    font-size:12px;
    padding-right:5px;
    text-decoration: none;
}
.operation a:link, .operation a:visited,
.comment-actions a:link, .comment-actions a:visited{
    color:#aaa;
}
.operation a:hover, .comment-actions a:hover{
    background-color:#aaa;
    color:#fff;
}
/*new-post*/
.new-post{
	width: 70%;
	margin: 20px auto 40px;
}
/*comments*/
.comments {
	max-width: 800px;
	padding-left:0;
}
.comments li {
	margin-bottom: 10px;
}
.child .comment-item{
    margin-left:30px;
}

.user-face {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}
.pil {
    top:5px;
	width: 25px;
	height: 25px;
	border-radius:50%;
}
.user-face a:hover{
    background:transparent;
}
.comment-content {
	padding-left: 0px;
	margin-left:30px;
	width: auto;
	margin-bottom:5px;
	position: relative;
	overflow: hidden;
}
.comment-content .edui-editor.edui-default{
    margin-right:0px;
}
.bg-img-green{
	background: #f2fbf2;
    padding: 3px 0;
}
.bg-img-green h4{
	font-size: 12px;
	margin-top: 0px;
    margin-bottom: 0px;
}
.label{
    vertical-align: top;
}
.pubtime{
	margin-left: 12px;
}
.content{
    margin-top: 5px;
}
.vote-nums{
    float: right;
    margin-right: 10px;
}
.comment-form{
    padding-top:10px;
    clear:both;
}
.comment-actions{
    float:right;
    margin-top:10px;
}


/*settings*/
.settings-sections {
	margin-top: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	min-height: 340px;
}
.settings-item {
	display: inline;
}
.settings-content {
	margin-left: 90px;
}
.settings-content a{
	color:#698ebf;
}
.settings-content a:hover{
	background: #fff;
	text-decoration: underline;
}
.title {
	float: left;
	width: 65px;
}
.nav-tabs li a{
	color:#259;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-tabs li a:hover{
	background: #eff6fa;
	border-bottom-color: #ccc;
}
.nav-tabs li.active a{
	color: #666;
}
/*profile*/
.main-content{
    padding-left:0px;
    padding-right:0px;
}
.profile-card{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 25px;
}
.profile-main{
    padding: 12px 18px;
}
.section-head{
    border-bottom: 1px solid #EEE;
    padding: 7px 14px;
}
.section-head h4{
    color: #666;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.top{
	margin-bottom: 10px;
}
/*TODO：future release*/
/*.top span{
    vertical-align: middle;
    margin-right: 10px;
}*/
.name{
	font-weight: 700;
	color: #222;
	font-size: 1.4em;
}
.avatar-editor{
	padding-bottom: 10px;
	overflow: hidden;
}
.avatar{
	width: 100px;
	height: 100px;
	float: left;
}
.user-describe{
    margin-left:115px;
}

.user-describe span{
	color: #666;
}
.short-info{
    margin-bottom: 20px;
}
.description{
    padding-top: 12px;
    border-top: 1px dotted #eee;
    word-wrap: break-word;
}
.short-info span+span{
	margin-left: 6px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #eee;  
}
.profile-navbar{
    border-bottom: none;
    border-top: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.post-title{
    color: #999;
}
/*profile-sidebar*/
.sidebar{
	padding-left: 50px;
}
.follow-info{
	overflow: hidden;
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}
.follow-info a{
	float: left;
	padding:2px 30px 8px 0
}
.follow-info a+a{
	padding-left: 20px;
	border-left: 1px solid #eee;
}
.follow-info a:hover{
	background:transparent;
}
.follow-info a span{
	color: #999;
	font-size: 13px;
	font-weight: 400;
}
.follow-info a strong{
	font-size: 16px;
	font-weight: 700;
	color: #666;
}
.follow-info a label{
	font-size: 13px;
	font-weight: 400;
	color: #666;
	vertical-align: 1px;
}
/*followers*/
.user-brief{
	padding-top: 12px;
	padding-bottom: 12px;
	overflow: hidden;
}
.toggle-follow{
	float: right;
	width: 78px;
	height: 22px;
	padding: 0;
	line-height: 22px;
	font-size: 13px;
}
.user-brief a:hover{
    background:transparent;
    color:#259;
    font-weight:700;
    text-decoration:underline;
}
.user-brief .avatar-link{
	float: left;
}
.user-brief .avatar-link img{
	width: 50px;
	height: 50px;
	margin: 2px 10px 0 0;
}
.user-brief-medium h2{
	font-weight: 700;
	font-size: 14px;
	margin: 0;
}
.user-signature{
    color:#999;
    font-weight:400;
}
/*inbox*/
.inbox{
    min-height: 340px;
}
.modal-body{
    padding: 30px;
}
.modal-body dt, .modal-body dd{
    margin-bottom: 5px;
}

.header{
    margin-bottom: 10px;
}
.header button{
    float: right;
    margin-top: -10px;
    outline: none !important;
    background: #BADA55;
}
.pm-item-wrap{
    border-top: solid 1px #ccc;
    clear: right;
}
.pm-item{
    padding: 12px 0;
    min-height: 50px;
}
.pm-item+.pm-item{
    border-top: 1px solid #eee;
}
.link-avatar50{
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 10px 0 0;
}
.link-avatar50 img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 0;
    border-radius: 4px;
}
.pm-item-main{
    margin: 0 0 5px 62px;
}
.pm-item-meta{
    margin: 0 0 0 63px;
    text-align: right;
}
.item-time{
    float: left;
    color: #999;
    font-size: 12px;
}
.section{
    margin: 0 0 10px;
}
.section button{
    margin: 10px 0 20px 0;
}
/*posts*/
.item-wrap{
    margin-top: 25px;
    padding-left: 0px;
}
.item-wrap li{
    border-bottom: 1px dotted #EEE;
}
.time{
    float: right;
    color: #999;
    margin-left: 50px;
}

:target {
    -webkit-animation: target-fade 1s;
    -moz-animation: target-fade 1s;
    -o-animation: target-fade 1s;
    animation: target-fade 1s;
}

@-webkit-keyframes target-fade {
    from { background-color: red; }
    to { background-color: transparent; }
}

@-moz-keyframes target-fade {
    from { background-color: red; }
    to { background-color: transparent; }
}

@-o-keyframes target-fade {
    from { background-color: red; }
    to { background-color: transparent; }
}

@keyframes target-fade {
    from { background-color: red; }
    to { background-color: transparent; }
}
/*notification*/
.noti-header{
     font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
     margin-bottom: 10px;
}
.notis-wrap {
     margin-bottom: 10px;
}
.noti-item {
    padding: 8px 0;
}
.day {
    font-weight: bold;
}
/*footer*/
#footer{
    padding: 20px 0;
    margin-top: 10px;
    border-top: 1px solid #eee;
    color: #767676;
    clear: both;
}