{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{% macro followers_panel(follows, endpoint, user) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span>
            <a href="{{ url_for('user.profile', username=user.username) }}">{{ user.username }}</a>
            {% if endpoint == '.followees' %}关注了{{ user.followed.count() }}人
            {% else %}被{{ user.followers.count() }}人关注{% endif %}
        </span>
    </div>
    <div class="panel-body">
        <div class="profile-body">
            {% for follow in follows %}
            <div class="user-brief">
                <button class="btn-unfollow">取消关注</button>
                <a href="{{ url_for('user.profile', username=follow.user.username) }}" class="avatar-link">
                    <img src="{{ url_for('static', filename='profile.jpg') }}">
                </a>
                <div class="user-brief-medium">
                    <h2>
                        <a href="{{ url_for('user.profile', username=follow.user.username) }}">
                            {{ follow.user.username }}
                        </a>
                    </h2>
                    {% if follow.user.signature %}
                    <div class="user-signature ">
                        {{ follow.user.signature }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro ueditor() %}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='vendors/ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='vendors/ueditor/ueditor.all.min.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='vendors/ueditor/lang/zh-cn/zh-cn.js') }}"></script>
{% endmacro %}

{% macro replyeditor(zindex=900) %}
var ue = UE.getEditor('editor', {
            initialFrameWidth:'100%',
            initialFrameHeight:'100%',
            elementPathEnabled : false,
            wordCount:false,
            zIndex: {{ zindex }},
            enableAutoSave:false,
            initialStyle:'p, span{font-size:14px;}',
            toolbars:[['emotion']]
        });
{% endmacro %}