{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ super() }}{{ activity.title }}-HUSTRunner{% endblock %}

{% block page_content %}
<div class="col-md-4">
    <div class="panel panel-default panel-widget">
        <div class="panel-heading panel-widget-heading">
            <span class="panel-title">{{ activity.title }}</span>
        </div>
        <div class="panel-body panel-widget-body">
            <div class="info">
                <span class="initiator">发起者:<a href="{{ url_for('user.profile', username=activity.initiator.username) }}" data-toggle="tooltip" data-placement="top" title="{{ activity.initiator.username }}"><img class="pil" src="{{ activity.initiator.avatar }}"></a></span>
                <span class="expired-time" data-created="{{ activity.date_created }}" data-expired="{{ activity.date_expired }}"></span>
            </div>
            <div class="activity-content" style="clear: both;">
            <span style="white-space: pre-wrap;">{{ activity.brief }}</span>
            </div>
            <div class="count">已参加<span>{{ activity.participants.all()|count }}</span>人</div>
            <div class="user-wrap">
                {% for participant in activity.participants.all() %}
                <div class="user-face" data-user="{{ participant.id }}">
                    <a href="{{ url_for('user.profile', username=participant.username) }}" data-toggle="tooltip" data-placement="top" title="{{ participant.username }}"><img class="pil" src="{{ participant.avatar }}"></a>
                </div>
                {% endfor %}
            </div>
            {% if current_user.is_authenticated %}
            <div style="clear: both; float: right;"><button class="btn btn-default btn-sm join" data-activityID="{{ activity.id }}" {% if activity.expired %}disabled{% endif %}>{% if current_user.has_join(activity) %}取消参加{% else %}参加{% endif %}</button></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}