{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ post.title }}-HUSTRunner{% endblock %}

{% block head %}
{{ super() }}
{{ macros.ueditor() }}
{% endblock %}

{% block page_content %}
<div class="col-md-8 article">
    <div>
        <h2>{{ post.title }}</h2>
        <h5>
            <span class="from">来自: <a href="{{ url_for('user.profile', username=post.author.username) }}">{{ post.author.username }}</a>
            </span>
            <span class="color-green">{{ post.date_created }}</span>
        </h5>
        <div class="body">{{ post.content_html|safe }}</div>
        <hr>
    </div>
    <ul class="comments">
        {% for comment in comments recursive %}
        <li class="comment-item clear-fix">
            <div class="user-face">
                <a href="#"><img class="pil" src="{{ url_for('static', filename='profile.jpg') }}"></a>
            </div>
            <div class="comment-content">
                <div class="bg-img-green">
                    <h4>
                        <a href="{{ url_for('user.profile', username=comment.author.username) }}">{{ comment.author.username }}</a>
                        <span class="pubtime">{{ moment(comment.date_created).format("YYYY-MM-DD HH:mm") }}</span>
                    </h4>
                </div>
                <div class="content">
                    {% if comment.parent %}
                    回复{{ comment.parent.author.username }}
                    {% endif %}
                    {{ comment.content_html|safe }}
                </div>

                <div class="operation">
                    <a href="javascript:void(0)" class="reply" data-reply="{{ comment.id }}">添加回复</a>
                    {% if comment.children.count() > 0 %}
                    <a href="javascript:void(0)" class="collapse-comments" data-childId="{{ comment.id }}_children"
                       data-comments="{{ comment.children.count() }}">收起回复</a>
                    {% endif %}
                </div>
                <div class="comment-bar" style="display:none;">
                    <form id="{{ comment.id }}form" class="comment-form">
                        <script type="text/plain" id="{{ comment.id }}reply"></script>
                    </form>
                    <div class="comment-actions">
                        <a href="javascript:void(0)">取消</a>
                        <button class="btn btn-sm btn-success comment-btn" data-reply="{{ comment.id }}">回复</button>
                    </div>
                </div>
            </div>
            {% if comment.children %}
            <ul class="comments child" id="{{ comment.id }}_children">{{ loop(comment.children|reverse) }}</ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <div>
        <form>
            <script type="text/plain" id="editor"></script>
            <br>
        </form>
        <button class="btn btn-success comment-btn">回复</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var ue = UE.getEditor('editor', {
        serverUrl: "/upload/",
        initialFrameWidth:'100%',
        initialFrameHeight:'100%',
        maximumWords:500,
        saveInterval:5000,
        elementPathEnabled : false,
        toolbars: [
    ['undo', 'redo'],
    ['bold', 'italic', 'underline', 'simpleupload', 'strikethrough', 'emotion', 'superscript', 'subscript', 'formatmatch', 'autotypeset', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'cleardoc']
]
    });
</script>
<script>
    $(function(){

        $(document).on('click', '.collapse-comments', function() {
            var childId = $(this).attr('data-childId');
            var count = $(this).attr('data-comments');

            $('#'+childId).toggle();
            if(count){
                $(this).html($(this).html() == '回复'+'('+count+')' ? '收起回复' : '回复'+'('+count+')');
            }
        });

        $(document).on('click', '.reply', function() {
            var Id = $(this).attr('data-reply')

            var ue = UE.getEditor(Id+'reply', {
                initialFrameWidth:'100%',
                initialFrameHeight:'100%',
                elementPathEnabled : false,
                wordCount:false,
                enableAutoSave:false,
                initialStyle:'p, span{font-size:14px;}',
                toolbars:[['emotion']]
            });
            $(this).closest('.operation').next().toggle();
        });

        $(document).on('click', '.comment-actions a', function() {
            $(this).closest('.comment-actions').closest('.comment-bar').hide();
        });

        $(document).on('click', '.comment-btn', function() {
            var parent_id;
            var $parent;
            var content;
            var nested = $(this).hasClass('btn-sm').toString();
            var url = '{{ url_for('user.profile', username=current_user.username) }}';
            var username = '{{ current_user.username }}';

            $(this).closest('.comment-actions').closest('.comment-bar').hide();
            if (nested == 'true') {
                parent_id = $(this).attr('data-reply');
                $parent = $(this).closest('.comment-content').next('.child');
                content = UE.getEditor(parent_id+'reply').getContent();
            } else {
                parent_id = '';
                $parent = $(this).parent('div').prev().prev('.comments').children('li').last();
                content = UE.getEditor('editor').getContent();
                UE.getEditor('editor').execCommand('cleardoc');
            }

            var data = JSON.stringify({
                        'content': content,
                        'parent_id': parent_id
                })

            $.ajax({
                type: 'POST',
                url: '{{ request.path }}/comment',
                data: data,
                contentType: 'application/json;charset=UTF-8',
                success: function(result) {
                    var write_string =
                         '<li class="comment-item clear-fix"><div class="user-face">' +
                       '<a href="#"><img class="pil" src=' + '"' +
                       "{{ url_for('static', filename='profile.jpg')}}" +
                       '"' + '></a></div>' + '<div class="comment-content">' +
                        '<div class="bg-img-green"><h4>' + '<a href=' + '"' +
                        url + '">' + username + '</a>' +
                        '<span class="pubtime">' + moment(result.timestamp).format("YYYY-MM-DD HH:mm") + '</span>' +
                        '</h4></div><div class="content">' + content +
                        '</div><div class="operation">' +
                        '<a href="javascript:void(0)" class="reply" data-reply="' +
                        result.comment_id + '">' + '添加回复' + '</a></div>' +
                        '<div class="comment-bar" style="display:none;">' +
                        '<form id="' + result.comment_id + 'form" class="comment-form">' +
                        '<script type="text/plain" id="' + result.comment_id + 'reply' + '"' +
                        '></' + 'script></form><div class="comment-actions">' +
                        '<a href="javascript:void(0)">' + '取消' +
                        '</a><button class="btn btn-sm btn-success comment-btn" data-reply="' +
                        result.comment_id + '">' + '回复' + '</button></div></div></div>' +
                        '<ul class="comments child" id="' + result.comment_id + '_children"></ul></li>'
                    if (nested == 'true')  {
                        $parent.prepend(write_string);
                    } else {
                        $parent.after(write_string);
                    }
                },
            });
        })
    });
</script>
{% endblock %}