{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ post.title }}-HUSTRunner{% endblock %}

{% block head %}
{{ super() }}
{{ macros.ueditor() }}
{% endblock %}

{% block page_content %}
<div class="col-md-8 article">
    <div class="article-main">
        <h2>{{ post.title }}</h2>
        <h5>
            <span class="from">来自: <a href="{{ url_for('user.profile', username=post.author.username) }}">{{ post.author.username }}</a>
            </span>
            {% if post.author.is_administrator() %}
            <span class="label label-primary">站长</span>
            {% endif %}
            {% if post.author.role.name == 'Moderator' %}
            <span class="label label-primary">管理员</span>
            {% endif %}
            <span class="color-green">{{ moment(post.date_created).format("YYYY-MM-DD HH:mm") }}</span>
        </h5>
        <div class="body">{{ post.content_html|safe }}</div>
        <div class="operation">
            {% if current_user.id == post.author.id %}
            <a href="javascript:void(0)" class="modify">修改</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a href="javascript:void(0)" class="delete-post">删除</a>
            {% endif %}
        </div>
    </div>
    <ul class="comments">
        {% for comment in comments recursive %}
        <li class="comment-item clear-fix" id="{{ comment.id }}parent">
            <div class="user-face">
                <a href="{{ url_for('user.profile', username=comment.author.username) }}"><img class="pil" src="{{ comment.author.avatar }}"></a>
            </div>
            <div class="comment-content" id="{{ comment.id }}comment">
                <div class="bg-img-green">
                    <h4>
                        <a href="{{ url_for('user.profile', username=comment.author.username) }}">{{ comment.author.username }}</a>
                        {% if comment.author.is_administrator() %}
                        <span class="label label-primary">站长</span>
                        {% endif %}
                        <span class="pubtime">{{ moment(comment.date_created).format("YYYY-MM-DD HH:mm") }}</span>
                        <span class="vote-nums">{% if comment.votes > 0 %}{{ comment.votes }}赞{% endif %}</span>
                    </h4>
                </div>
                <div class="content">
                    {% if comment.parent %}
                    回复{{ comment.parent.author.username }}
                    {% endif %}
                    {{ comment.content_html|safe }}
                </div>

                <div class="operation">
                    {% if current_user.is_administrator() or comment.author.id == current_user.id %}
                    <a href="javascript:void(0)" class="delete-comment" data-toggle="modal" data-target="#deleteModal" data-id="{{ comment.id }}">删除</a>
                    {% endif %}
                    {% if comment.has_voted(current_user.id) %}
                    <a href="javascript:void(0)" class="vote" data-voted="true"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>取消赞</a>
                    {% else %}
                    <a href="javascript:void(0)" class="vote" data-voted="false"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>赞</a>
                    {% endif %}
                    <a href="javascript:void(0)" class="reply" data-reply="{{ comment.id }}">添加回复</a>
                    {% if comment.children.count() > 0 %}
                    <a href="javascript:void(0)" class="collapse-comments" data-childId="{{ comment.id }}_children"
                       data-comments="{{ comment.children.count() }}">收起回复</a>
                    {% endif %}
                </div>
                <div class="comment-bar" style="display:none;">
                    <form id="{{ comment.id }}form" class="comment-form">
                        <script type="text/plain" id="{{ comment.id }}reply"></script>
                    </form>
                    <div class="comment-actions">
                        <a href="javascript:void(0)">取消</a>
                        <button class="btn btn-sm btn-success comment-btn" data-reply="{{ comment.id }}">回复</button>
                    </div>
                </div>
            </div>
            {% if comment.children %}
            <ul class="comments child" id="{{ comment.id }}_children">{{ loop(comment.children|reverse) }}</ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <div>
        <form>
            <script type="text/plain" id="editor"></script>
            <br>
        </form>
        <button class="btn btn-success comment-btn">回复</button>
    </div>
</div>

<div class="modal" id="deleteModal" role="dialog" aria-labelledby="deleteModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">删除</h4>
            </div>
            <div class="modal-body">
                你确定要删除评论么？    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary delete" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var ue = UE.getEditor('editor', {
        serverUrl: "/upload/",
        initialFrameWidth:'100%',
        initialFrameHeight:'100%',
        maximumWords:500,
        saveInterval:5000,
        elementPathEnabled : false,
        toolbars: [
    ['undo', 'redo'],
    ['bold', 'italic', 'underline', 'simpleupload', 'strikethrough', 'emotion', 'superscript', 'subscript', 'formatmatch', 'autotypeset', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'cleardoc']
]
    });
</script>
<script>
    $(function(){

        $(document).on('click', '.collapse-comments', function() {
            var childId = $(this).attr('data-childId');
            var count = $(this).attr('data-comments');

            $('#'+childId).toggle();
            if(count){
                $(this).html($(this).html() == '回复'+'('+count+')' ? '收起回复' : '回复'+'('+count+')');
            }
        });

        $(document).on('mouseenter', '.comment-content, .article-main', function(){
            $(this).children('.operation').css('visibility', 'visible');
        });

        $(document).on('mouseleave', '.comment-content, .article-main', function(){
            $(this).children('.operation').css('visibility', 'hidden');
        });

        $(document).on('click', '.reply', function() {
            var Id = $(this).attr('data-reply')

            var ue = UE.getEditor(Id+'reply', {
                initialFrameWidth:'100%',
                initialFrameHeight:'100%',
                elementPathEnabled : false,
                wordCount:false,
                enableAutoSave:false,
                initialStyle:'p, span{font-size:14px;}',
                toolbars:[['emotion']]
            });
            $(this).closest('.operation').next().toggle();
        });

        $(document).on('click', '.comment-actions a', function() {
            $(this).closest('.comment-actions').closest('.comment-bar').hide();
        });
        // vote
        $(document).on('click', '.vote', function(){
            {% if current_user.is_authenticated %}
            var $vote_button = $(this);
            var comment_id = $vote_button.next('.reply').attr('data-reply');
            var post_to = '{{ url_for('apis.vote_comment') }}';
            if ($vote_button.attr('data-voted') === "false"){
                $vote_button.html('取消赞');
                $vote_button.attr('data-voted', 'true');
            } else{
                $vote_button.html('赞');
                $vote_button.attr('data-voted', 'false');
            }
            $.post(post_to, { comment_id: comment_id }, 
                    function(response){
                        var new_vote_count = response.new_votes.toString();
                        if(new_vote_count != '0'){
                                $vote_button.parent().prevAll('.bg-img-green').children().children('.vote-nums').html(new_vote_count+'赞');
                            }else{
                                $vote_button.parent().prevAll('.bg-img-green').children().children('.vote-nums').html('');
                            };
                    }
            );
            {% else %}
            alert("登陆后才能点赞哦")
            {% endif %}
        });
        // delete comment
        $('#deleteModal').on('show.bs.modal', function(event){
            var id = $(event.relatedTarget).data('id');
            var post_to = '/apis/comments/' + id
            $('.delete').on('click', function(){
                $.ajax({
                    url: post_to,
                    type: 'DELETE',
                    success: function(){
                        $('#'+id+'parent').remove();
                    }
                })
            });
        });

        // add comment
        $(document).on('click', '.comment-btn', function() {
            var parent_id;
            var $parent;
            var content;
            var nested = $(this).hasClass('btn-sm').toString();
            var url = '{{ url_for('user.profile', username=current_user.username) }}';
            var username = '{{ current_user.username }}';

            $(this).closest('.comment-actions').closest('.comment-bar').hide();
            if (nested == 'true') {
                parent_id = $(this).attr('data-reply');
                $parent = $(this).closest('.comment-content').next('.child');
                content = UE.getEditor(parent_id+'reply').getContent();
            } else {
                parent_id = '';
                $parent = $(this).parent('div').prev('.comments');
                content = UE.getEditor('editor').getContent();
                UE.getEditor('editor').execCommand('cleardoc');
            }

            var data = JSON.stringify({
                        'content': content,
                        'parent_id': parent_id
                })

            $.ajax({
                type: 'POST',
                url: '{{ request.path }}/comment',
                data: data,
                contentType: 'application/json;charset=UTF-8',
                success: function(result) {
                    var write_string =
                         '<li class="comment-item clear-fix"><div class="user-face">' +
                       '<a href="#"><img class="pil" src=' + '"' +
                       "{{ current_user.avatar }}" +
                       '"' + '></a></div>' + '<div class="comment-content">' +
                        '<div class="bg-img-green"><h4>' + '<a href=' + '"' +
                        url + '">' + username + '</a>' +
                        '<span class="pubtime">' + moment(result.timestamp).format("YYYY-MM-DD HH:mm") + '</span>' +
                        '</h4></div><div class="content">' + content +
                        '</div><div class="operation">' +
                        '<a href="javascript:void(0)" class="delete-comment" data-toggle="modal" data-target="#deleteModal" data-id="' +
                        result.comment_id + '">删除</a>' +
                        '<a href="javascript:void(0)" class="reply" data-reply="' +
                        result.comment_id + '">' + '添加回复' + '</a></div>' +
                        '<div class="comment-bar" style="display:none;">' +
                        '<form id="' + result.comment_id + 'form" class="comment-form">' +
                        '<script type="text/plain" id="' + result.comment_id + 'reply' + '"' +
                        '></' + 'script></form><div class="comment-actions">' +
                        '<a href="javascript:void(0)">' + '取消' +
                        '</a><button class="btn btn-sm btn-success comment-btn" data-reply="' +
                        result.comment_id + '">' + '回复' + '</button></div></div></div>' +
                        '<ul class="comments child" id="' + result.comment_id + '_children"></ul></li>'
                    if (nested == 'true')  {
                        $parent.prepend(write_string);
                    } else {
                        $parent.append(write_string); //TODO: comment not append
                    }
                },
            });
        })
    });
</script>
{% endblock %}