{% extends "bootstrap/base.html" %}

{% block title %}HUSTRunner{% endblock %}

{% block head %}
{{ super() }}
<!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/vendors/fancybox/jquery.fancybox.css" type="text/css" media="screen">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HUSTRunner</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" class="top-nav-link">首页</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=1) }}" class="top-nav-link">日常约跑</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=2) }}" class="top-nav-link">技术交流</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=3) }}" class="top-nav-link">赛事活动</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=4) }}" class="top-nav-link">灌水</a></li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="javascript:void(0)" data-placement="bottom" data-toggle="popover" data-container="body" role="button" data-html="true" class="top-nav-link">
                    消息
                    {% if current_user.notify_count > 0 %}
                    <span class="badge plain-noti">{{ current_user.notify_count }}</span>
                    {% endif %}
                    </a>
                </li>
                {% endif %}
                <div class="hide" id="popover-notify">
                    <ul class="nav nav-pills">
                        <li style="width: 33%"><a data-toggle="pill" href=".message-menu" class="notify-button" data-action="comment">消息</a></li>
                        <li style="width: 33%; margin-left:0"><a data-toggle="pill" href=".user-menu" class="notify-button" data-action="follow">关注</a></li>
                        <li style="width: 33%; margin-left:0"><a data-toggle="pill" href=".thumbs-up-menu" data-action="vote" class="notify-button">赞</a></li>
                    </ul>
                    <div class="notify-wrap tab-content">
                        <div class="tab-pane fade in active thumbs-up-menu">
                        {% for notify in current_user.unread_notifications if notify['action'] == 'vote' %}
                            <div class="noti-content">获得{{ notify['notify']|length }}赞同:
                            {% if notify['entity'].slug %}
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].slug) }}">{{ notify['entity'].title }}</a></span>
                            {% elif notify['entity'] %}
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].post.slug) }}#{{ notify['entity'].id }}comment">{{ notify['entity'].post.title }}</a>中的评论</span>
                            {% endif %}
                            来自
                            {% for noti in notify['notify'] %}
                            <span><a href="{{ url_for('user.profile', username=noti.sender.username ) }}">{{ noti.sender.username }}</a></span>
                            {% endfor %}</div>
                        {% endfor %}
                        </div>

                        <div class="tab-pane fade message-menu">
                        {% for notify in current_user.unread_notifications if notify['action'] == 'comment' %}
                            <div class="noti-content">
                                {% for noti in notify['notify'] %}
                                <span><a href="{{ url_for('user.profile', username=noti.sender.username ) }}">{{ noti.sender.username }}</a></span>
                                {% endfor %}
                            {% if notify['entity'].parent %}回复了你在{% else %}回复你的文章{% endif %}
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].post.slug) }}#{{ notify['entity'].id }}comment">{{ notify['entity'].post.title }}</a>{% if notify['entity'].parent %}中的评论{% endif %}</span>
                            </div>
                        {% endfor %}
                        </div>

                        <div class="tab-pane fade user-menu">
                        {% for notify in current_user.unread_notifications if notify['action'] == 'follow' %}
                            <div class="noti-content">
                                {% for noti in notify['notify'] %}
                                <span><a href="{{ url_for('user.profile', username=noti.sender.username ) }}">{{ noti.sender.username }}</a>关注了你</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.avatar }}" class="navbar-avatar">{% if current_user.unread_message_count > 0 %}<span class="badge">{{ current_user.unread_message_count }}</span>{% endif %}
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.profile', username=current_user.username) }}">我的主页</a></li>
                        <li>
                            <a href="{{ url_for('message.inbox') }}">私信
                                {% if current_user.unread_message_count > 0 %}
                                <span class="badge">{{ current_user.unread_message_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li><a href="{{ url_for('user.edit_profile') }}">设置</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 70px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
    <div id="footer">
    <span>
    © 2016 HUSTRunner</span>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-cn") }}
<script src="{{ url_for('static', filename='js/jquery.facedetection.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js"></script>
{% endblock %}