{% extends "bootstrap/base.html" %}

{% block title %}HUSTRunner{% endblock %}

{% block head %}
{{ super() }}
<!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HUSTRunner</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" class="top-nav-link">首页</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=1) }}" class="top-nav-link">日常约跑</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=2) }}" class="top-nav-link">技术交流</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=3) }}" class="top-nav-link">赛事活动</a></li>
                <li><a href="{{ url_for('main.topic', topic_id=4) }}" class="top-nav-link">灌水</a></li>
                <li><a href="javascript:void(0)" data-placement="bottom" data-toggle="popover" data-container="body" role="button" data-html="true"><span class="notify">消息</span>{% if current_user.is_authenticated %}{% if current_user.notify_count > 0 %}<span class="badge plain-noti">{{ current_user.notify_count }}</span>{% endif %}{% endif %}</a></li>
                <div class="hide" id="popover-notify">
                    <ul class="nav nav-pills">
                        <li><a data-toggle="pill" href=".message-menu" class="notify-button" data-action="comment">消息</a></li>
                        <li><a data-toggle="pill" href=".user-menu" class="notify-button" data-action="follow">关注</a></li>
                        <li><a data-toggle="pill" href=".thumbs-up-menu" data-action="vote" class="notify-button">赞</a></li>
                    </ul>
                    <div class="notify-wrap tab-content">
                        <div class="tab-pane fade in active thumbs-up-menu">
                        {% for notify in current_user.unread_notifications if notify['action'] == 'vote' %}
                            <div>获得{{ notify['notify']|length }}赞同:
                            {% if notify['entity'].slug %}
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].slug) }}">{{ notify['entity'].title }}</a></span>
                            {% elif notify['entity'] %}
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].post.slug) }}#{{ notify['entity'].id }}comment">{{ notify['entity'].post.title }}</a>中的评论</span>
                            {% endif %}
                            来自
                            {% for noti in notify['notify'] %}
                            <span><a href="{{ url_for('user.profile', username=noti.sender.username ) }}">{{ noti.sender.username }}</a></span>
                            {% endfor %}</div>
                        {% endfor %}
                        </div>

                        <div class="tab-pane fade message-menu">
                        {% for notify in current_user.unread_notifications if notify['action'] == 'comment' %}
                            <div>
                                {% for noti in notify['notify'] %}
                                <span><a href="{{ url_for('user.profile', username=noti.sender.username ) }}">{{ noti.sender.username }}</a></span>
                                {% endfor %}
                            {% if notify['entity'].slug %}回复了你的文章
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].slug) }}">{{ notify['entity'].title }}</a></span>
                            {% elif notify['entity'] %}回复了你在
                            <span><a href="{{ url_for('forum.view_post', slug=notify['entity'].post.slug) }}#{{ notify['entity'].id }}comment">{{ notify['entity'].post.title }}</a>中的评论</span>
                            {% endif %}
                            </div>
                        {% endfor %}
                        </div>

                        <div class="tab-pane fade user-menu">
                        {% for notify in current_user.unread_notifications if notify['action'] == 'follow' %}
                            <div>
                                {% for noti in notify['notify'] %}
                                <span><a href="{{ url_for('user.profile', username=noti.sender.username ) }}">{{ noti.sender.username }}</a>关注了你</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.avatar }}" class="navbar-avatar"><!-- <span class="badge">1</span> -->
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.profile', username=current_user.username) }}">我的主页</a></li>
                        <li><a href="{{ url_for('message.inbox') }}">私信<!-- <span class="badge">1</span> --></a></li>
                        <li><a href="{{ url_for('user.edit_profile') }}">设置</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-cn") }}
<script>
$(function(){
    // highlight tab
    $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
    // hide alert automatically
    window.setTimeout(function() {
    $(".alert-warning").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
    }, 2000);

    $("[data-toggle=popover]").popover({
    html: true, 
    delay: 100,
    content: function() {
          return $('#popover-notify').html();
        }
    });
   
    $('[data-toggle="popover"]').on('shown.bs.popover', function(){
        $('.notify-button').click(function(){
            var action = $(this).data('action');
            var $button = $(this);
            var post_to = '/apis/notification';
            $.post(post_to, {action: action},
                function(response){
                    if(response.new_count > 0){
                        $('.plain-noti').html(response.new_count);
                    }else{
                        $('.plain-noti').remove();
                    };
                });
        });
    });
})
</script>
{% endblock %}