{% extends "user/_profile.html" %}
{% import "_macros.html" as macros with context %}

{% block title %}HUSTRunner- {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
{{ super() }}
{% endblock %}
{% block left_bottom %}
{{ macros.followers_panel(follows, endpoint, user) }}
{% if follows|count > 20 %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){

        $('.toggle-follow').on('click', function(){
            var $btn = $(this)
            var user_id = $btn.attr('data-id');
            var flag = $btn.hasClass('btn-unfollow');
            var post_to = '{{ url_for('apis.toggle_follow') }}'

            if (flag){
                    $btn.removeClass('btn-unfollow');
                    $btn.addClass('btn-follow');
                    $btn.html('关注');
                } else{
                    $btn.removeClass('btn-follow');
                    $btn.addClass('btn-unfollow');
                    $btn.html('取消关注');
                };

            $.post(post_to, {user_id: user_id, unfollow: flag});
        });
    })
</script>
{% endblock %}
