{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}首页-HUSTRunner{% endblock %}

{% block page_content %}
<div class="row">
    <!--left-->
    <div class="col-md-8">
        <div id="post-bar">
            <div style="float:right">
                <a href="{{ url_for('forum.new_post') }}">发帖</a>
                <a href="{{ url_for('activity.new_activity') }}">发起活动</a>
            </div>
            <div class="topic-tab">
                <a href="/">最近话题</a>
                <i>/</i>
                <a href="/?type=essence">最热话题</a>
            </div>
        </div>
        {% for post in posts %}
        <div class="brief">
            <div>
            <h4><a href="{{ url_for('forum.view_post', slug=post.slug) }}">{{ post.title }}</a></h4>
            </div>
            <ul class="post-info" style="padding:0">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="{{ url_for('user.profile', username=post.author.username) }}">{{ post.author.username }}</a>
                </li>
                <li><i class="fa fa-comment"></i>回应 {{ post.comments.count() }}</li>
                <li><i class="fa fa-calendar"></i>{{ moment(post.date_created).fromNow() }}</li>
                <li>浏览 {{ post.views }}</li>
            </ul>
            <div class="post-body">
                {{ post.content_html|safe|truncate(100) }}
            </div>
        </div>
            {% endfor %}
        {% if pagination.has_prev or pagination.has_next %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
        {% endif %}
    </div>
    <!--right-->
    <div class="col-md-4">
        {% for activity in activities %}
        <div class="panel panel-default panel-widget">
            <div class="panel-heading panel-widget-heading">
                <span class="panel-title">{{ activity.title }}</span>
            </div>
            <div class="panel-body panel-widget-body">
                <div class="info">
                    <span class="initiator">发起者:<a href="#" data-toggle="tooltip" data-placement="top" title="{{ activity.initiator.username }}"><img class="pil" src="{{ activity.initiator.avatar }}"></a></span>
                    <span class="expired-time" data-created="{{ activity.date_created }}" data-expired="{{ activity.date_expired }}"></span>
                </div>
                <div class="activity-content" style="clear: both;">
                <span style="white-space: pre-wrap;">{{ activity.brief }}</span>
                </div>
                <div class="count">已参加<span>{{ activity.participants.all()|count }}</span>人</div>
                <div class="user-wrap">
                    {% for participant in activity.participants.all() %}  
                    <div class="user-face" data-user="{{ participant.id }}">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="{{ participant.username }}"><img class="pil" src="{{ participant.avatar }}"></a>
                    </div>
                    {% endfor %}
                </div>
                {% if current_user.is_authenticated %}
                <div style="clear: both; float: right;"><button class="btn btn-default btn-sm join" data-activityID="{{ activity.id }}">{% if current_user.has_join(activity) %}取消参加{% else %}参加{% endif %}</button></div>
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){

        $('.expired-time').each(function(i, e){
            var date_created = moment($(e).data('created'));
            var now = moment();
            var date_expired = moment($(e).data('expired'));
            $(e).html(now.to(date_expired) + '到期');
        });
        
        $('.join').on('click', function(){
            var post_to = '{{ url_for('activity.join_activity') }}';
            var action = $(this).html();
            var $button = $(this);
            var activity_id = $(this).data('activityid');
            if(action == '参加'){
                $(this).html('取消参加');
                action = 'join'
            }else{
                $(this).html('参加');
                action = 'quit'
            };

            $.post(post_to, {action: action, activity_id: activity_id }, 
                function(){
                    if(action == 'join'){
                        html = '<div class="user-face" data-user="{{ current_user.id }}"><a href="#" data-toggle="tooltip" data-placement="top" title="{{ current_user.username }}"><img class="pil" src="{{ current_user.avatar }}"></a></div>'
                        $button.parent().prev('.user-wrap').append(html);
                        $count = $button.parent().prev().prev('.count').children('span');
                        $count.html(parseInt($count.html()) + 1);
                    }else{
                        $button.parent().prev('.user-wrap').children('.user-face[data-user={{ current_user.id }}]').remove();
                        $count = $button.parent().prev().prev('.count').children('span');
                        $count.html(parseInt($count.html()) - 1);
                    }
                }
            );            
        });
    })
</script>
{% endblock %}