{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ super() }}发起活动-HUSTRunner{% endblock %}

{% block page_content %}
<div id="main" style="max-width: 600px;">
    <form action="{{ request.path }}" method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.brief) }}
        {% if current_user.is_administrator() %}
        {{ wtf.form_field(form.date_expired, placeholder="输入到期天数") }}
        {% else %}
        {{ wtf.form_field(form.date_expired, readonly=True, placeholder="今晚12点",title="没有权限，请联系管理员或站长帮忙修改", **{'data-toggle':'tooltip','data-placement':'top'}) }}
        {% endif %}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}