{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}HUSTRunner-发帖{% endblock %}

{% block head %}
{{ super() }}
{{ macros.ueditor() }}
{% endblock %}

{% block page_content %}
<div class="new-post">
    <form action="{{ url_for('forum.new_post') }}" method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.topic) }}
        <script type="text/plain" id="editor" style="width:100%;height:360px;"></script>
        <br>
        <button type="submit" class="btn btn-success">提交</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    //实例化编辑器
    var ue = UE.getEditor('editor', {
        serverUrl: "/upload/",
        initialFrameWidth:'100%',
        initialFrameHeight:'100%',
        toolbars: [
            ['undo', 'redo'],
            ['bold', 'italic', 'underline', 'simpleupload', 'strikethrough', 'emotion', 'superscript', 'subscript', 'formatmatch', 'autotypeset', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'cleardoc']
        ]
    });
</script>
{% endblock %}