{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ title }}-HUSTRunner{% endblock %}

{% block page_content %}
<div class="row">
    <!--left-->
    <div class="col-md-8">
        <div id="post-bar">
            <div style="float:right">
                <a href="{{ url_for('forum.new_post') }}">发帖</a>
            </div>
            <div class="topic-tab">
                <a href="{{ request.path }}">最近话题</a>
                <i>/</i>
                <a href="{{ request.path }}?type=essence">最热话题</a>
            </div>
        </div>
        {% for post in posts %}
        <div class="brief">
            <div class="header">
                {% if current_user.is_authenticated %}
                {% if current_user.is_administrator() %}
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true" style="float: right;" data-toggle="tooltip" data-placement="bottom" title={% if post.sticky %}"取消置顶"{% else %}"置顶"{% endif %} data-postID="{{ post.id }}" data-sticky="{{ post.sticky }}"></span>
                {% endif %}
                {% endif %}
                {% if post.sticky %}
                <span class="label label-info">置顶</span>
                {% endif %}
                <a href="{{ url_for('forum.view_post', slug=post.slug) }}" class="brief-title">{{ post.title }}</a>
            </div>
            <ul class="post-info">
                <li>
                    <i class="fa fa-user"></i>
                    <a href="{{ url_for('user.profile', username=post.author.username) }}">{{ post.author.username }}</a>
                </li>
                <li><i class="fa fa-comment"></i><a>回应 {{ post.comments.count() }}</a></li>
                <li><i class="fa fa-calendar"></i>{{ moment(post.date_created).fromNow() }}</li>
                <li>浏览 {{ post.views }}</li>
            </ul>
            <div class="post-body">
                {{ post.content_html|safe|truncate(100) }}
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    </div>
    <!--right-->
    <div class="col-md-4">
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $(document).on('click', '.glyphicon-pushpin', function(){
            var sticky = $(this).attr('data-sticky');
            var post_id = $(this).data('postid');
            // whether sticky or not
            if(sticky == 'False'){
                $(this).attr('data-sticky', 'True');
                $(this).attr('data-original-title', '取消置顶');
                $(this).after('<span class="label label-info">置顶</span>');
                var item = $(this).parents('.brief').detach();
                $('#post-bar').after(item);
                $.post('{{ request.url }}', {post_id: post_id, sticky: sticky});
            }else{
                $(this).attr('data-sticky', 'False');
                $(this).attr('data-original-title', '置顶');
                $.post('{{ request.url }}', {post_id: post_id, sticky: sticky}, function(response){
                        location.reload()
                    }
                );
            }  
        });
    })
</script>
{% endblock %}